{%extends 'base.html'%}
{% block content %}

{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .basket-icon {
        float: right;
        position: relative;
        z-index: 1;
    }

    .basket-icon img {
        height: 40%;
        width: 40%;
    }

    .basket button {
        border-radius: 10px;
        cursor: pointer;
    }

    .zoom {
        position: absolute;
        top: 180px;
        right: 50%;
        width: 30px;
        opacity: 0;
        animation: zoom 1s ease forwards;
    }

    @keyframes zoom {
        0% {
            opacity: 0
        }

        50% {
            opacity: 1
        }

        100% {
            opacity: 0;
            right: 40px;
        }
    }
</style>

<div class="container-full text-center">
    <br>
    <h4>We have a variety of ongoing classes</h4>
    <p>If intrested clickthelink belowa lesson to register then proceed to cart.</p>
    <br>
</div>
<a class="nav-item nav-link" data-toggle="modal" data-target="#cart" href="#">
    <div class="basket-icon"><span><strong class="number">0</strong></span><img src="/static/images/basket.png"></div>
</a>

<div class="container-full">
    <br>
    <div class="row">
        {% for l in lessons %}
        <div class="col-md-4">
            <div class="card">
                <img src="/{{l.lessonimage.url}}" class="card-img-top" alt="...">
                <div class="card-title">
                    <h4>{{l.lessonName}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{l.lessonDescription}}</p>
                    <p class="card-text">{{l.lessonSport}}</p>
                    <p class="card-text">{{l.lessonVenue}}</p>
                    <p class="card-text">{{l.lessonFacility}}</p>

                </div>
                <div class="card-footer basket">
                    <input type="hidden" class="lesson_id" value="{{l.pk}}">
                    <button>Add to Basket</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>

<!-- modal -->

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul id="chooselist" class="chooselist">

                </ul>
                <h6>Proceed to checkout</h6>
            </div>
        </div>
    </div>
</div>



<script>
    'use strict';

    $("button").on("click", function () {

        $(this).closest(".card")
            .find("img")
            .clone()
            .addClass("zoom")
            .appendTo("body");
        setTimeout(function () {
            $(".zoom").remove();
        }, 1000);
        var clicked = $(this)
        var basketNumber = $(".number").text()
        // console.log(basketNumber)
        $(".number").text(parseInt(basketNumber) + 1)
        var lesson = $(this).closest("div").find('input')
        // console.log(lesson.val())
        $.get('/booking/' + lesson.val() + '',
            function (data) {
                if (data.success) {
                    clicked.css({
                        "color": "green",
                        "border-color": "green"
                    });
                    // basketNumber.css({"color":"green"})
                }
            }
        );
    });

    $(".basket-icon").on("click", function () {
        $.get('/mybookings/',
            function (data) {
                console.log(data)
                if (data.success) {
                    console.log(data.lessons)
                    for (const [key, value] of Object.entries(data.lessons)) {
                        console.log(key, value);
                        $('.chooselist').html(
                            "<li>You have booked, <strong>" + key + "</strong><br> Description : " + value + "</li>")
                    }
                } else if (!data.success) {
                    $('.chooselist').html(
                            "<li><strong>You are Required to login to  subsribe for lessons</strong></li>")
                        .css({
                            "color": "red"
                        })
                }
            });
    });
</script>

{% endblock %}