{%extends 'base.html'%}

{% load static %}

{% block content %}

<div class="container-fluid">
<br>
<h3 style="text-align: center">News Notices</h3>
<div class="row">
    {% if blog %}
    {% for n in blog %}
    <div class="col-sm-4">
      <div class="card">
        <img src="/{{n.blogimage.url}}" alt="{{n.blogimage.url}}" class="card-img-top" alt="...">
        <div class="card-header">
          <h5 class="card-title">{{n.title}}</h5>
          <p class="card-text">{{n.postDate}}</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{n.description}}</p>
        </div>
        <div class="card-footer">
          {% for comment in n.all_comments|slice:"2" %}

          <p class="ml-3"><span class="font-weight-bold">{{comment.user.username}}</span> {{comment.status}}</p>
          {% endfor %}
          <form action="{% url 'commenting' blog_id=n.id %}" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
              {{comment_form}}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

</div>

<div class="container">
<hr>

<div class="row">
  <div class="col-md-12 text-center">
    <h3>FACILITIES</h3>
  </div>
  {% for facilitydisplay in facility %}
  <div class="col-sm-4">
    <div class="card">
      <img src="{{facilitydisplay.facilityimage.url}}" class="card-img-top" alt="...">
      <div class="card-header">
        <h5 class="card-title">{{facilitydisplay.facilityName|upper}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text"> Located at: <strong> {{facilitydisplay.facilityLocation}} </strong> </p>
      </div>
      <div class="card-footer">
        <p class="card-text"> Room Number: <strong>{{facilitydisplay.facilityRoom}}</strong> </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>  

</div>
{% endblock %}
