{%extends "base.html"%}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/athletics2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Athletics</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/weight.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Weight Lifting</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/highjump.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">High Jump</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/gymnastics.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Gymnastics</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/Bike.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Bike</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/swimming1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Swimming</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/basketballl.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Basketball</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/football.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Football</p>
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/static/images/archery.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Archery</p>
              </div>
            </div>
        </div>
        <br>
    </div>

</div>


{% endblock %}
